.btn-filter{
    padding: 4px 6px;
    border: none;
    background-color: #39394a;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.02rem;
    border-radius: 3px;
    cursor: pointer;
}

.active{
    border: 1px solid white;
}