
.person-image{
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 35px;
    top: 30px;
    box-shadow: 6px -3px rgb(109, 56, 225);
}

.person-name{
    font-size: 1.5rem;
    font-weight: 700;
}

.person-role{
    color: #9c9c9e;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-top: 5px;
    font-weight: 700;
}

.icon-quote{
    margin: 15px 0;
    color: rgba(109, 56, 225, 0.69);
}

.person-feedback{
    color: #6e6e6e;
    font-size: 0.9rem;
}