.card{
    width: 30%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 4px gray;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card img{
    width: 100%;
    aspect-ratio: 4/3;
    background: #000;
    max-height: 50%;
}

.tour-info-section{
    padding: 0 10px;
    /* text-align: justify; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tour-price{
    color: green;
    font-weight: 700;
    font-size: 1.3rem;
    font-family: monospace;
}

.tour-place-name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    text-decoration: underline;
}

.tour-place-description{
    font-size: 0.9rem;
    line-height: 1.1rem;
    color: rgb(53, 53, 53);
}

.more-or-less-content{
    color: rgb(15, 62, 156);
    cursor: pointer;
}

.btn-not-interested{
    padding: 15px 80px;
    width: 100%;
    background-color: rgba(246, 65, 65, 0.3);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    color: black;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.btn-not-interested:hover{
    background-color: rgb(243, 52, 52);
    color: white;
}