.App {
  /* text-align: center; */
  /* background-color: #282c34; */
  min-height: 100vh;
  background-color: #f5f5f5;
}

.header {
  position: sticky;
  text-align: center;
  font-size: 1.7rem;
  height: 50px;
  font-weight: 600;
  top: 0;
  border-bottom: 1px solid rgb(168, 167, 167);
  padding: 6px 0;
  background-color: #f5f5f5;
}

.container {
  width: 40%;
  margin: auto;
  min-height: calc(100vh - 100px);
}
